*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    background:#0d1117;
    color:#e6edf3;
}

header{
    position:fixed;
    top:0;
    width:100%;
    padding:20px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#161b22;
    z-index:1000;
}

.logo{
    font-size:28px;
    color:#58a6ff;
    font-weight:700;
    text-decoration:none;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:30px;
    font-size:18px;
}

nav a:hover{
    color:#58a6ff;
}

.hero{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:60px;
    padding:120px 8%;
}

.hero-image img{
    width:320px;
    border-radius:50%;
    border:5px solid #58a6ff;
}

.hero-content{
    max-width:700px;
}

.hero-content h1{
    font-size:56px;
}

.hero-content h2{
    color:#58a6ff;
    margin:15px 0;
}

.hero-content p{
    font-size:18px;
    line-height:1.8;
}

.buttons{
    margin-top:30px;
}

.btn{
    padding:12px 24px;
    background:#58a6ff;
    color:white;
    text-decoration:none;
    border-radius:8px;
    margin-right:15px;
}

.secondary{
    background:#21262d;
}

.social-icons{
    margin-top:30px;
}

.social-icons a{
    font-size:28px;
    margin-right:20px;
    color:#58a6ff;
}

.card-section{
    padding:80px 8%;
}

.card-section h2{
    margin-bottom:40px;
    color:#58a6ff;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.grid-small{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.card,.skill-box,.timeline-item{
    background:#161b22;
    padding:25px;
    border-radius:12px;
}

.card p{
    margin-top:10px;
}

.project-tech span{
    display:inline-block;
    background:#21262d;
    padding:8px 15px;
    border-radius:20px;
    margin:10px 10px 0 0;
}

.timeline{
    display:flex;
    flex-direction:column;
    gap:20px;
}

@media(max-width:768px){

    .hero{
        flex-direction:column;
        text-align:center;
    }

    nav{
        display:none;
    }

    .hero-content h1{
        font-size:42px;
    }

}
